body {
  background: black;
  font-family: 'Calistoga', cursive;
}

#sky1 {
	color:black;
	font-size: 200px;
	text-align: left;
}
#sky1:hover {
		border-color: black;
		background: black;
		color: gold;
		
}
#sky2 {
	color:black;
	font-size: 200px;
	text-align: center;
}
#sky2:hover {
		border-color: black;
		background: black;
		color: gold;
}
#sky3{
	color:black;
	font-size: 200px;
	text-align: right;
}
#sky3:hover {
		border-color: black;
		background: black;
		color: gold;
}

#sky4{
	color:black;
	font-size: 200px;
	text-align: left;
}
#sky4:hover {
	border-color: black;
		background: black;
		color: gold;
}
#sky5{
	color:black;
	font-size: 200px;
	text-align: center;
}
#sky5:hover {
	border-color: black;
		background: black;
		color: gold;
	}
#sky6{
	color:black;
	font-size: 200px;
	text-align: right;
}
#sky6:hover {
	border-color: black;
		background: black;
		color: gold;
}
#sky7{
	color:black;
	font-size: 200px;
	text-align: left;
}
#sky7:hover {
	border-color: black;
		background: black;
		color: gold;
}
#sky8{
	color:black;
	font-size: 200px;
	text-align: center;
}
#sky8:hover {
	border-color: black;
		background: black;
		color: gold;
}
#earth1{
	color:black;
	font-size: 100px;
	text-align: right;
}
#earth1:hover {
	border-color: black;
	background: black;
	color: yellowgreen;
	 
}

#earth2{
	color:black;
	font-size: 100px;
	text-align: left;
}
#earth2:hover {border-color: black;
	background: black;
	color: yellowgreen;
}

#earth3{
	color:black;
	font-size: 100px;
	text-align: center;
}
#earth3:hover {border-color: black;
	background: black;
	color: yellowgreen;
}

#earth4{
	color:black;
	font-size: 100px;
	text-align: right;
}
#earth4:hover {border-color: black;
	background: black;
	color: yellowgreen;
}

#earth5{
	color:black;
	font-size: 100px;
	text-align: left;
}
#earth5:hover {border-color: black;
	background: black;
	color: yellowgreen;
}

#earth6{
	color:black;
	font-size: 100px;
	text-align: center;
}
#earth6:hover {border-color: black;
	background: black;
	color: yellowgreen;
}

#earth7{
	color:black;
	font-size: 100px;
	text-align: right;
}
#earth7:hover {border-color: black;
	background: black;
	color: yellowgreen;
}


#reality1{
	color:black;
	font-size: 50px;
	text-align: left;
}
#reality1:hover {border-color: black;
	background: black;
	color: cyan;
}

#reality2{
	color:black;
	font-size: 50px;
	text-align: center;
}
#reality2:hover {border-color: black;
	background: black;
	color: cyan;
}

#reality3{
	color:black;
	font-size: 50px;
	text-align: right;
}
#reality3:hover {border-color: black;
	background: black;
	color: cyan;
}

#reality4{
	color:black;
	font-size: 50px;
	text-align: left;
}
#reality4:hover {border-color: black;
	background: black;
	color: cyan;
}

#reality5{
	color:black;
	font-size: 50px;
	text-align: center;
}
#reality5:hover {border-color: black;
	background: black;
	color: cyan;
}


#reality6{
	color:black;
	font-size: 50px;
	text-align: right;
}
#reality6:hover {border-color: black;
	background: black;
	color: cyan;
}


#reality7{
	color:black;
	font-size: 50px;
	text-align: left;
}
#reality7:hover {border-color: black;
	background: black;
	color: cyan;
}


#reality8{
	color:black;
	font-size: 50px;
	text-align: center;
}
#reality8:hover {border-color: black;
	background: black;
	color: cyan;
}

 #bummer1{
	color:black;
	font-size: 150px;
	text-align: right;
}
#bummer1:hover {
		border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer2{
	color:black;
	font-size: 150px;
	text-align: left;
}
#bummer2:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer3{
	color:black;
	font-size: 150px;
	text-align: center;
}
#bummer3:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer4{
	color:black;
	font-size: 150px;
	text-align: right;
}
#bummer4:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer5{
	color:black;
	font-size: 150px;
	text-align: left;
}
#bummer5:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer6{
	color:black;
	font-size: 150px;
	text-align: center;
}
#bummer6:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer7{
	color:black;
	font-size: 150px;
	text-align: right;
}
#bummer7:hover {
border-color: black;
	background: black;
	color: palevioletred;
	
}

#bummer8{
	color:black;
	font-size: 150px;
	text-align: left;
}
#bummer8:hover {
	border-color: black;
	background: black;
	color: palevioletred;
	
}


#hope1{
	color:black;
	font-size: 300px;
	text-align: center;
}
#hope1:hover {
		border-color: black;
	background: black;
	color: tomato;
	 
}


#hope2{
	color:black;
	font-size: 300px;
	text-align: right;
}
#hope2:hover {
	border-color: black;
	background: black;
	color: tomato;
}


#hope3{
	color:black;
	font-size: 300px;
	text-align: left;
}
#hope3:hover {
	border-color: black;
	background: black;
	color: tomato;
}


#hope4{
	color:black;
	font-size: 300px;
	text-align: center;
}
#hope4:hover {
	border-color: black;
	background: black;
	color: tomato;
}


#hope5{
	color:black;
	font-size: 300px;
	text-align: right;
}
#hope5:hover {
	border-color: black;
	background: black;
	color: tomato;
}


#hope6{
	color:black;
	font-size: 300px;
	text-align: left;
}
#hope6:hover {
	border-color: black;
	background: black;
	color: tomato;
}


#hope7{
	color:black;
	font-size: 300px;
	text-align: center;
}
#hope7:hover {
	border-color: black;
	background: black;
	color: tomato;
}



#dang1{
	color:black;
	font-size: 25px;
	text-align: right;
}
#dang1:hover {
	border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang2{
	color:black;
	font-size: 25px;
	text-align: left;
}
#dang2:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang3{
	color:black;
	font-size: 25px;
	text-align: center;
}
#dang3:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang4{
	color:black;
	font-size: 25px;
	text-align: right;
}
#dang4:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}


#dang5{
	color:black;
	font-size: 25px;
	text-align: left;
}
#dang5:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang6{
	color:black;
	font-size: 25px;
	text-align: center;
}
#dang6:hover {
	border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang7{
	color:black;
	font-size: 25px;
	text-align: right;
}
#dang7:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}

#dang8{
	color:black;
	font-size: 25px;
	text-align: left;
}
#dang8:hover {
		border: inset 1.4px;
		border-color: black;
	background: black;
	color: gainsboro;
}
