body {
background-color: black;
margin: auto;
}

@keyframes pulse01 {
  0% {
    color: black;
  }
  100% {
    color: ghostwhite;
  }
}


#skies { 
font-size: 150px;
font-family: 'Calistoga', cursive;
text-align: center;
color: darkgoldenrod;
}

#skies a {
	text-decoration: none;
	animation: pulse01 1s infinite;
	animation-timing-function: linear;
}

#skies a:visited {
  color: black;
}

#skies a:link {
 	color: black;
}

#skies a:hover {
	color: black;
}

#earth {
	background-color: yellowgreen;
	animation: pulse02 1s infinite;
	animation-timing-function: ease-in-out;
	color: white;
 	height: 600px;
 	text-align: center;
 	font-size: 50px;
 	font-family: 'Calistoga', cursive;
 	border-radius: 50%;
 	padding: 2%;
}

#earth a { 
text-decoration: none; 
}

#earth a:visited {
	color:  tan;
}

#earth a:link {
	color: tan;
}

#earth a:hover {
	color: tan;
}

@keyframes pulse02 {
  0% {
    background-color: yellowgreen;
  }
  100% {
    background-color: green;
  }
}

#reality {
	text-align: center;
	color: lightblue;
	padding-top: 50%;
	padding-bottom: 50%;
	
}

#reality:hover {
	background:tomato;
}

#bummer{
	font-size: 150px;
	color: white;
	text-align: right;

}

#hope{
color: yellow;
}

#hope a{
	text-decoration: none;

}

#hope a:visited {
	color: gold;	
}

#hope a:hover {
	color: ghostwhite;
}


#part{
	color: coral;

}

#part a {
	text-decoration: none;
}

#part a:visited {
	color: coral
}

#part a:hover {
	color: lightcoral;
}






