    body {
	background: black;
}

#netflix-logo {
      width: 200px;
      height: 75px;
      background: red;
    }

#whos-watching {
	width: 300px;
    height: 50px;
    background: white;
    position: relative;
    top: 150px;
    bottom: 100px;
    left: 500px;


}

 #one {
 	width: 100px;
    height: 100px;
    background: blue;
    position: relative;
    top: 150px;
    right: 50px;
    
}

 #two {
 	width: 100px;
    height: 100px;
    background: green;
    position: relative;
    bottom: 30px;
    left: 100px;
    
}

 #three {
 	width: 100px;
    height: 100px;
    background: orange;
    position: relative;
    bottom: 210px;
    right: 200px;
   
 
   
}

 #four {
 	width: 100px;
    height: 100px;
    background: purple;
    position: relative;
    bottom: 390px;
    left: 250px;
   
    
} 

#five {
 	width: 100px;
    height: 100px;
    background: yellow;
    position: relative;
    bottom: 570px;
    left: 400px;
}

#manage {
	width: 150px;
    height: 25px;
    background: grey;
    position: relative;
    top: 550px;
    left: 575px;
}

h1 { 
text-align: center;
color: white; }

#user1 {
    position: relative;
    top: 125px;
    right: 300px;
}

#user2 {
    position: relative;
    bottom: 55px;
    right: 150px;

}

#user3 {
      position: relative;
      bottom: 235px;      
}

#user4 {
      position: relative;
      bottom: 415px;
      left: 300px;
}

#user5 {
      position: relative;
      bottom: 595px;
      left: 150px;
}


