#skies {
	position: relative;
	text-align: center; 
	font-size: 70px;
	background: black;
	color: white;
}


#earth{
	position: relative;
text-align: center; 
font-size: 60px;
background: dimgrey;
color: white;
}


#reality{
	position: relative;
text-align: center; 
font-size: 50px;
background: grey;
color: white;
}


#bummer{
	position: relative;
text-align: center; 
font-size: 40px;
background: darkgrey;
color: white;
text-transform: uppercase;
}


#hope{
	position: relative;
text-align: center; 
font-size: 30px;
background: silver;
color: white;

}


#part{
	position: relative;
text-align: center; 
font-size: 20px;
background: lightgrey;
color: white;
}


#author{
	position: relative;
text-align: center; 
font-size: 10px;
background: gainsboro;
color: white;
}








