body {

margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
padding-left: 2%;
padding-right: 2%;
padding-top:2%;
padding-bottom: 2%;
}

#title {
	border: 2px solid;
	position: sticky;
	top: 0;
	padding: 50px;
}

#sky {
	position: sticky;
	float: right;
	border: 1px dotted;
	padding: 25%;
	top: 0;
}

#earth {
	position: sticky;
	border: 1px solid;
	padding: 25%;
	top: 0;
}

#hope {
	position: sticky;
	left: 50%;
	right: 50%;
	padding: 25%;
	top: 0;

}

#author {
	position: sticky;
	float:right;
	border: .5px solid;
	padding: 25%;
	top: 0;
}