#sky {
	border-style: dotted;
	border-color: black;
	margin: 0 auto;
	padding:20px;
	width: 580px;
	position: relative;
}

#earth {

	border-style: solid;
	border-color: black;
	margin: 0 auto;
	padding:30px;
	width: 200px;
	height: 150px;
	position: relative;
}


#reality {
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	padding:20px;
	width: 80px;
	position: relative;
}

#bummer {
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	padding:20px;
	width: 180px;
	position: relative;
}
   
#hope {
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	padding:20px;
	width: 80px;
	position: relative;

}

#end {
	border-style: solid;
	border-color: black;
	margin: 0 auto;
	padding:300px;
	width: 600px;
	position: relative;
}

