body {
	background-color: black;
}

.words {
	position: absolute;
	padding: 5%;
	border: 600px solid;
	margin: auto;
	display: block;
	float: right;
  font-family: 'Gupter', serif;
  font-size: 50px;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px white;

}

a { 
text-decoration: none; }

a:visited {
	color: white;
}

a:link {
	color: white;
}

a:hover {
animation: move 1s forwards;

}


@keyframes move {
	from{
  color: white;
  text-shadow: 0 0 10px white;
	}

	to {
	color: black;
  	text-shadow: 0 0 10px white;
	}
}