
body{
	background-color: cadetblue;
}

.words{
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 50px;
	position: absolute;
	padding:25%;
	
}

a { 
text-decoration: none; }

a:visited {
	color: white;
}

a:link {
	color: white;
}

a:hover{
color: paleturquoise;
}

