
body{
	background-color: black;
	margin: auto;
}

.words{
	position: absolute;
	font-family: 'Gupter', serif;
  	font-size: 150px;
  	color: white;
  	text-align: center;
  	text-shadow: 0 0 10px white;
  	top: 50%;
  	left: 50%;
  	right: 50%;
  	animation: tight 3s forwards;

}

a { 
text-decoration: none; }

a:visited {
	color: white;
}

a:link {
	color: white;
}

a:hover{
	color: black;

}

@keyframes tight{

	from { font-size: 150px; }
	to{ font-size: 20px; }
}