
body{
	background-color: cadetblue;
}

.one{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 50px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
	left: 26%;
	top: 74%;
	
}
.two{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 25px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	left: 65%;
	bottom: 18%;
	
	
}
.three{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 100px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	left: 15%;
	top: 50%;
	
}
.four{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 60px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	left: 24%;
	top: 8%;
	
	
}
.five{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 20px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	left: 84%;
	top: 53%;
	
	
}
.six{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 40px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
    left: 62%;
	top: 5%;
	
}
.seven{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 90px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 6s;
	animation-fill-mode: forwards;
	left: 63%;
	top: 21%;
	
	
}
.eight{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 200px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 7s;
	animation-fill-mode: forwards;
	left: 89%;
	top: 90%;
	
}
.nine{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 70px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 8s;
	animation-fill-mode: forwards;
	left: 69%;
	top: 12%;
	
	
}
.ten{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 30px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 9s;
	animation-fill-mode: forwards;
	left: 41%;
	top: 23%;
	
	
}
.eleven{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 6px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	left: 35%;
	top: 86%;
	
	
}
.twelve{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 150px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
	left: 32%;
	top: 25%;
	
	
}
.thirteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 35px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
	left: 14%;
	top: 51%;
	
	
}
.fourteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 98px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 4.5s;
	animation-fill-mode: forwards;
	left: 39%;
	top: 12%;
	
	
}
.fifteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 63px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 5.5s;
	animation-fill-mode: forwards;
	left: 76%;
	top: 39%;
	
	
}
.sixteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 44px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 6.5s;
	animation-fill-mode: forwards;
	left: 6%;
	top: 70%;
	
	
}
.seventeen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 17px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 7.5s;
	animation-fill-mode: forwards;
	left: 51%;
	top: 37%;
	
	
}
.eighteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 2px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 8.5s;
	animation-fill-mode: forwards;
	left: 90%;
	top: 3%;
	
	
}
.nineteen{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 101px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 9.5s;
	animation-fill-mode: forwards;
	left: 45%;
	top: 86%;
	
	
}
.twenty{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 85px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 10s;
	animation-fill-mode: forwards;
	top:44%;
	left: 40%;
	
}
.twenty-one{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 94px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 11s;
	animation-fill-mode: forwards;
	left: 23%;
	top: 13%;
	
	
}
.twenty-two{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 71.5px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 12s;
	animation-fill-mode: forwards;
	left: 40%;
	top: 6%;	
	
}
.twenty-three{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 8px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 13s;
	animation-fill-mode: forwards;
	left: 11%;
	top: 13%;
	
	
}
.twenty-four{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 300px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 14s;
	animation-fill-mode: forwards;
	left: 14%;
	top: 8%;
	
	
}
.twenty-five{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 90px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 15s;
	animation-fill-mode: forwards;
	left: 60%;
	top: 68%;
	
	
}
.twenty-six{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 52px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 10.5s;
	animation-fill-mode: forwards;
	left: 3%;
	top: 27%;
	
	
}
.twenty-seven{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 34px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 11.5s;
	animation-fill-mode: forwards;
	left: 67%;
	top: 3%;
	
	
}
.twenty-eight{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 43px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 12.5s;
	animation-fill-mode: forwards;
	left: 82%;
	top: 31%;
	
	
}
.twenty-nine{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 29px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 13.5s;
	animation-fill-mode: forwards;
	left:35%;
	top: 24%;
	
	
}
.thirty{
	opacity: 0;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 99px;
	position: absolute;
	animation-name: appear;
	animation-duration: .5s;
	animation-delay: 14.5s;
	animation-fill-mode: forwards;
	left: 20%;
	top: 10%;
	
	
}

a { 
text-decoration: none; }

a:visited {
	color: white;
}

a:link {
	color: white;
}

a:hover{
color: paleturquoise;
}


@keyframes appear {
    0%   { opacity: 0; }
  	100% { opacity: 1; }
}
