
body{
	background-color: cadetblue;
}

.words{
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 50px;
	position: absolute;
	padding:25%;
	
}

a { 
text-decoration: none;
animation: flicker .4s infinite; }

a:visited {
	color: white;
}

a:link {
	color: white;
}


@keyframes flicker {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}