
body{
	background-color: cadetblue;
	margin: auto;

}

.words{
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 350px;
	text-align: center;

	
}

a { 
text-decoration: none;}

a:visited {
	color: white;
}

a:link {
	color: white;
}

