body{
	background-color: black;
	margin: 20%;
}



.words1{
font-family: 'Bitter', serif;
color: white;
text-shadow: 0 0 10px white;
font-size: 50px;
position: relative;
}

.words2{
font-family: 'Bitter', serif;
color: white;
text-shadow: 0 0 10px white;
font-size: 50px;
position: relative;
left: 15%;
}

.words3{
font-family: 'Bitter', serif;
color: white;
text-shadow: 0 0 10px white;
font-size: 50px;
position: relative;
left: 50%;
}

.words4{
font-family: 'Bitter', serif;
color: white;
text-shadow: 0 0 10px white;
font-size: 50px;
position: relative;
left:75%;
animation-name: run;
animation-duration: 3s;
animation-delay: 3s;
}


a { 
text-decoration: none; }

a:visited {
	color: white;
}

a:link {
	color: white;
}


@keyframes run {
	from{left:75%;}
	to{left:2000%;}
}
